/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/06/2020, 02:39:06 PM
    Author     : Extreme PC
*/



#wrapper{
    position:fixed;
    text-align:center;

    top:0;
    bottom:0;
    left:0;
    right:0;   



    background-color: #DDDDDD;    
}

#content{
    width: 85%;
    height:100%;
    display: inline-block;
}
#content #depositbox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 30%;
    height: 70%;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1%;
}

#content #depositbox .depositContainer{
    display: flex;
    text-align: center;

    flex-direction: column;
    align-items: center;

    height: 70%;

    padding: 10% 20%;

}
#menubar{
    width: 100%;
    height: auto;
    display: flex;
    font-family: 'Raleway', sans-serif;
}


#main{
    width: 100%;
    height: 100%;


    background-image: url('./images/client.jpg');
    background-size: 100% 100%;

    background-repeat: no-repeat;

}

#menubar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

#menubar  li {
    float: left;
}

#menubar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 110%;
}
.nombre{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 110%;
    background-color: darkcyan;
}
#menubar li a:hover{
    transform: scale(1.1);
}

#menubar li a:hover:not(.active) {  
    background-color: #111;
}

#menubar .active {
    background-color: #0074D9;
}

.box1{
    margin-top: 12%;
    margin-bottom: 5%;
    font-size: 150%;

}
.box2 input, label{
    /*Se usa para que no salgan del container*/
    box-sizing:border-box;
    margin-bottom: 10%;
    text-align: center;

    opacity: 0.9;

    width: 60%;
    padding: 2% 3%;

}
.box2 button{
    width: 50%;
    padding: 5% 15%;
}


.box3 button {
    width: 50%;
    padding: 5% 15%;
}



/*Solo da el el tipo de letra*/
.box1, .box3 button{
    font-family: 'Raleway', sans-serif;
}

/*tabla*/
.maincontents{
    height: 100%;
    width: 100%;


    background-image: url('./images/client.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    text-align: center;

}

/*Conglomera la seccion de las cuentas*/
.containerBox{
    display: inline-block;
    width: 80%;
    height: 75%;

    margin-top: 5%;

    background: linear-gradient(360deg,#0250c5, #d43f8d);
    border-radius: 3.5%;


}

.containerTable{
    display: flex;
    justify-content: center;
}


table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
table * {
    position: relative;
}
table td, table th {
    padding-left: 8px;
}
table thead tr {
    height: 60px;
    background: #36304a;
}
table tbody tr {
    height: 50px;
}
table tbody tr:last-child {
    border: 0;
}
table td, table th {
    text-align: left;
}
table td.l, table th.l {
    text-align: right;
}
table td.c, table th.c {
    text-align: center;
}
table td.r, table th.r {
    text-align: center;
}


.head th{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
}

.column1 {
    width: 260px;
    padding-left: 40px;
}

.column2 {
    width: 160px;
}

.column3 {
    width: 245px;
}

.column4 {
    width: 110px;
    text-align: right;
}

.column5 {
    width: 170px;
    text-align: right;
}

.column6 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
}
