/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 28, 2020, 1:44:32 AM
    Author     : Erick
*/

body {
    font-family: 'Raleway', sans-serif;
    /*Light grey*/
    background-color: #f3f3f3;
}

.wrapper {
    max-width: 960px;
    max-height: max-content;
    margin: 0 auto; 
    /*Aesthetic white*/
    background-color: #e6e3e3;
}

header {
    background-color: #b21919;
    height: 150px;
    padding: 4px;
}

header h1 {
    text-align: center;
    color: #fff;
    line-height: 50px;
}

header h2 {
    font-variant: small-caps;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

.main-menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    /*Dark grey*/
    background-color: #170f0f;
}


ul.main-menu {
    margin-top: 15px;
    margin-bottom: 0;   
}


.main-menu li{
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 16px;
}

.main-menu li:hover{
    transform:scale(1.2);
}


.main-menu a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    font-variant: small-caps;
    transition: transform .5s;
}

.main-menu a:hover {
     color: #e70000;
}

.menu-name h1{
    text-align: center;
    color: #fff;
    line-height: 50px;
}


.orders-container div{
    margin-top: 20px;
}


.table-container{
    display: flex;
    justify-content: center;

    height: 700px;
}

.section-2{
    background-color: #000000;
    height: 75px;
    padding: 4px;
}



table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
table * {
    position: relative;
}
table td, table th {
    padding-left: 1px;
}
table thead tr {
    height: 60px;
    background: #f6f2f2;
}
table tbody tr {
    height: 50px;
}
table tbody tr:last-child {
    border: 0;
}
table td, table th {
    text-align: left;
}
table td.l, table th.l {
    text-align: right;
}
table td.c, table th.c {
    text-align: center;
}
table td.r, table th.r {
    text-align: center;
}

table td div{
    margin-bottom: 15px;
}

table td div input{
    padding: 10px;
}

table td div button{
    height : 39px;
}




.head th{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
}

.column1 {
    width: 150px;
    padding-left: 40px;
}

.column2 {
    width: 200px;
}

.column3 {
    width: 300px;
}

.column4 {
    width: 110px;
    text-align: right;
}

.column5 {
    width: 170px;
    text-align: right;
}

.column6 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
}


@media screen and (max-width: 992px) {
    table {
        display: block;
    }
    table > *, table tr, table td, table th {
        display: block;
    }
    table thead {
        display: none;
    }
    table tbody tr {
        height: auto;
        padding: 37px 0;
    }
    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }
    table tbody tr td:last-child {
        margin-bottom: 0;
    }
    table tbody tr td:before {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }
    table tbody tr td:nth-child(1):before {
        content: "Numero";
    }
    table tbody tr td:nth-child(2):before {
        content: "Fecha";
    }
    table tbody tr td:nth-child(3):before {
        content: "Estado";
    }
    table tbody tr td:nth-child(4):before {
        content: "Tipo";
    }
    table tbody tr td:nth-child(5):before {
        content: "Limite";
    }
    table tbody tr td:nth-child(6):before {
        content: "Estado";
    }

    .column4,
    .column5,
    .column6 {
        text-align: left;
    }

    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
        width: 100%;
    }

    tbody tr {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .containerTable {
        padding-left: 15px;
        padding-right: 15px;
    }
}

    